@media (min-width: 375px) and (max-width: 1024px){
    .form{
        height: 6rem;
        background: var(--1, linear-gradient(173deg, #B9A4F1 5.39%, #9370FF 94.69%));
    }
    
    .form.form{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }
    
    .form input{
        border-radius: 5%;
    }
    
    .form input.task-input{
        color: black;
        background-color: white;
        border-radius: 0.5rem;
        height: 2rem;
        width: 8rem;
    }
    
    .form input.submit-input{
        height: 2.5rem;
        border-radius: 0.5rem;
        height: 2rem;
        width: 5rem;
        color: white;
        background: linear-gradient(173deg, #916DF3 5.39%, #5323E4 94.69%);
    }

    select.category-select{
        background: #F9B577;
        width: 5rem;
        height: 2rem;
        border-radius: 0.5rem;
    }
}

@media (min-width: 1025px){
    .form{
        height: 6rem;
        background: var(--1, linear-gradient(173deg, #B9A4F1 5.39%, #9370FF 94.69%));
    }
    
    .form.form{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }
    
    .form input{
        border-radius: 5%;
    }
    
    .form input.task-input{
        color: black;
        background-color: white;
        border-radius: 1rem;
        height: 3rem;
        width: 30rem;
    }
    
    .form input.submit-input{
        height: 2.5rem;
        border-radius: 0.5rem;
        width: 6rem;
        color: white;
        background: linear-gradient(173deg, #916DF3 5.39%, #5323E4 94.69%);
    }

    select.category-select{
        background: #F9B577;
        height: 3rem;
        border-radius: 0.5rem;
    }
}
