:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url(./assets/background.jpg);
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: Raleway;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*?HEADER*/
h1 {
  font-size: 80px;
  padding: 0;
  margin: 0;
  color: #22ff00;
}

/*?BODY*/
button {
  border-radius: 15px;
  border: 5px white;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  background-color: #435008;
  cursor: pointer;
}
.buttons {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.change {
  max-width: 280px;
  height: auto;
}
.level h2{
  font-size: 70px;
  color: rgb(0, 255, 255);
}
button{
  font-size: 20px;
  font-weight: bold;
}

/*?FOOTER*/
#footertxt{
  color: #e9ffe9;
}


